body {
	text-align: center;
	padding: 1em;
	background: url('images/site_backgrounds/cool.jpg');
	color: white;
}

* {
	cursor: crosshair !important;
}

h2 {
	color: orange;
}

#content, #navigation, h1, #footer {
	background: url('images/site_backgrounds/2.bmp');
	box-shadow: 4px 4px  black;
}


#navigation {
	padding: 1em 0 1em 0;
}

#navigation a {
	color: lime;
}

#navigation a:hover {
	color: #ff00ff;
	background-color: white;
}

#navigation li {
	list-style-type: none;
	display: inline;
	margin-right: 1em;
}

#content {
	text-align: left;
	padding: 1em;
	overflow: auto;
}

#content a {
	color: orange;
}

#articles {
	position: relative;
	float: right;
    width: 33%;
    background: blue;
    margin: 0;
    padding: 0;
    list-style: none;
}

article {
	width: 66%;
}